h1{
  color: ff0000;
  text-aligh: center;
}

h2{
  color: ff0000;
  text-aligh: center;
}

h3{
  color: ff0000;
  text-aligh: center;
}

h4{
  color: ff0000;
  text-aligh: center;
}

p{
  color: ff0000;
  text-aligh: center;
}

body{
  color:black
}
